{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href = "{% static 'css/adoption_events.css' %}">

{% block content %}
<section class="adoption-events">
    <div class="adoption-events-content">
        
        <h2 style="color: #ffffff;" class="adoption-events-title">Upcoming Adoption Events</h2>
    
    <p class="adoption-events-description">Join us for our upcoming adoption events and help us find loving homes for pets in need!</p>
        <div class="adoption-event">
            <h3 class="adoption-event-title">Pet Adoption Fair</h3>
            <p class="adoption-event-details">Date: March 15, 2024</p>
            <p class="adoption-event-details">Location: ABC Shelter, 123 Main St, City</p>
            <p class="adoption-event-details">Time: 10:00 AM - 4:00 PM</p>
            <a href="#" class="adoption-event-link">Learn More</a>
        </div>
        <div class="adoption-event">
            <h3 class="adoption-event-title">Rescue Run 5K</h3>
            <p class="adoption-event-details">Date: April 20, 2024</p>
            <p class="adoption-event-details">Location: City Park</p>
            <p class="adoption-event-details">Time: 8:00 AM</p>
            <a href="#" class="adoption-event-link">Learn More</a>
        </div>
        <div class="adoption-event">
            <h3 class="adoption-event-title">Pet Adoption Fair</h3>
            <p class="adoption-event-details">Date: March 15, 2024</p>
            <p class="adoption-event-details">Location: ABC Shelter, 123 Main St, City</p>
            <p class="adoption-event-details">Time: 10:00 AM - 4:00 PM</p>
            <a href="#" class="adoption-event-link">Learn More</a>
        </div>
        <div class="adoption-event">
            <h3 class="adoption-event-title">Rescue Run 5K</h3>
            <p class="adoption-event-details">Date: April 20, 2024</p>
            <p class="adoption-event-details">Location: City Park</p>
            <p class="adoption-event-details">Time: 8:00 AM</p>
            <a href="#" class="adoption-event-link">Learn More</a>
        </div>
        
    </div>
</section>

{% endblock %}
