{% extends 'base1.html' %}
{% load static %}

<style>
    /* Your CSS styles */
</style>

{% block content %}
<div class="container">
    <h1>All Messages</h1>

    <h2>Contact Us Messages</h2>
    {% if contact_messages %}
        <ul>
            {% for message in contact_messages %}
                <li>{{ message.name }} - {{ message.email }} - {{ message.message }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No contact messages found.</p>
    {% endif %}

    <!-- <h2>Lost & Found Pets</h2>
    {% if lost_pets %}
        <ul>
            {% for pet in lost_pets %}
                <li>Lost Pet - {{ pet.name }} - Species: {{ pet.species }} - Breed: {{ pet.breed }} - Age: {{ pet.age }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No lost pets found.</p>
    {% endif %} -->
    
    <!-- {% if found_pets %}
        <ul>
            {% for pet in found_pets %}
                <li>Found Pet - {{ pet.name }} - Species: {{ pet.species }} - Breed: {{ pet.breed }} - Age: {{ pet.age }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No found pets found.</p>
    {% endif %} -->

    <h2>Adoption Requests</h2>
    {% if adoption_requests %}
        <ul>
            {% for request in adoption_requests %}
                <li>{{ request.user.username }} - {{ request.pet.name }} - Status: {{ request.status }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No adoption requests found.</p>
    {% endif %}


</div>
{% endblock %}
