{% load static %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        background-image: url('{% static "images/ss.png" %}');
        background-repeat: repeat;
        background-position: center;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .containerr {
        background-color: #ffffff64;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    h1 {
        color: #000000;
    }

    p {
        color: #000000;
    }

    .button {
        display: inline-block;
        background-color: #000000;
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        margin-top: 20px;
    }

    .button:hover {
        background-color: #00020467;
    }
</style>
</head>
<body>
    <div class="containerr">
        <h1>Success!</h1>
        <p>Your contact submission has been received successfully.</p>
        <a href="{% url 'homepage' %}" class="button">Back to Home</a>
    </div>
    {% endblock %}