{% extends 'base1.html' %}
{% load static %}


<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}


.containerr {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


</style>
{% block content %}
<div class="container">
    <h1>Coordinator Profile</h1>
    {% if coordinator_profile %}
        <p>Username: {{ coordinator_profile.user.username }}</p>
        <!-- <p>Responsibilities: {{ coordinator_profile.responsibilities }}</p>
        <p>Contact Number: {{ coordinator_profile.contact_number }}</p> -->
    {% else %}
        <p>No profile found for the current user.</p>
    {% endif %}
</div>
{% endblock %}