{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href = "{% static 'css/coordinator_profile.css' %}">
{% block content %}
<div class="containerr">
    <h1>Contact Messages</h1>
    <ul class="message-list">
        {% for message in contact_messages %}
            <li class="message-item">
                <span class="message-name">{{ message.name }}</span>
                <span class="message-email">{{ message.email }}</span>
                <span class="message-text">{{ message.message }}</span>
            </li>
        {% endfor %}
    </ul>

    <h1>Lost and Found Messages</h1>
    <ul class="message-list">
        {% for message in lost_found_messages %}
            <li class="message-item">
                <span class="message-name">{{ message.name }}</span>
                <span class="message-email">{{ message.email }}</span>
                <span class="message-text">{{ message.message }}</span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
