{% extends 'base1.html' %}
{% load static %}
{% block content %}
<div style="background-color: #000000; color: #ffffff;">
    <br><br><br>
<div style="background-color: #000000; color: #ffffff;">
    <h2 style="font-size: 24px; margin-bottom: 20px; text-align: center;">Adoption Requests:</h2>
    <div class="containerr" style="max-width: 800px; margin: 50px auto; padding: 20px; background-color: #000000; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <ul class="application-list" style="list-style-type: none; padding: 0;">
            {% for application in applications %}
            <li class="application-item" style="background-color: #fffefe4f; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); margin-bottom: 20px; padding: 20px;">
                <span style="color: #fffcfc;">User: {{ application.user.username }} - Pet: {{ application.pet.name }} - Status: {{ application.status }}</span>
            </li>
            {% endfor %}
        </ul>
        {% if not applications %}
        <p>No adoption requests found.</p>
        {% endif %}
        <p class="additional-info" style="text-align: justify; margin-top: 30px; color: #747171;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis condimentum leo in magna tincidunt, non efficitur ligula efficitur. Phasellus consectetur urna ac nulla ultrices, non congue lectus tincidunt. Vivamus at nisi ultricies, ultrices ex id, elementum tortor. Aenean vitae sodales turpis. Vivamus tincidunt mauris vel purus consequat, in fermentum risus pellentesque. Nullam sed tellus purus. Fusce a magna tincidunt, fringilla justo eu, tincidunt libero. Maecenas pulvinar turpis et mauris rutrum, a tincidunt felis sodales.
        </p>
    </div>
</div>
<br><br><br>
</div>
{% endblock %}
