{% extends 'base.html' %}
{% load static %}


{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa; /* Light gray background */
            color: #333; /* Dark gray text color */
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff; /* White container background */
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Shadow effect */
        }

        h1 {
            text-align: center;
            color: #007bff; /* Blue color for header */
            margin-bottom: 20px;
        }

        .user-info {
            margin-top: 20px;
        }

        p {
            margin-bottom: 10px;
        }

        strong {
            font-weight: bold;
            color: #555; /* Medium gray text color */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>User Profile</h1>
        <div class="user-info">
            <p><strong>Username:</strong> {{ user.username }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p>Your Adoption Application Status: {{ adoption_status }}</p>
        </div>
    </div>
{% endblock %}
