{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f9f9f9; 
            color: #000000; 
            background-image: url('{% static "images/ssw.jpg" %}');
            background-repeat: repeat;
            background-position: center;
            background-size: contain;
        }

        .containerr {
            max-width: 500px;
            margin: 50px auto;
            padding: 30px;
            background-color: rgba(255, 255, 255, 0.5); 
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
        }

        h1 {
            text-align: center;
            color: #000000; 
            margin-bottom: 20px;
        }

        form {
            margin-top: 30px;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 7px;
            color: #000000; 
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc; /* Light gray border */
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
            transition: border-color 0.3s;
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus {
            border-color: #007bff; /* Blue border color on focus */
        }

        input[type="submit"] {
        width: 200px; /* Adjust width as needed */
        padding: 12px;
        background-color: #bb9ee3;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;    
        transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #000000;
        }
    </style>
<br>
<br>
<br>
    <div class="containerr">
        <h1>User Registration</h1>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                {% if form.username.errors %}
                    <ul class="errorlist">
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" name="email"  required>
                {% if form.email.errors %}
                    <ul class="errorlist">
                        {% for error in form.email.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        
            <div>
                <label for="password1">Password:</label>
                <input type="password" id="password1" name="password1" required>
                {% if form.password1.errors %}
                    <ul class="errorlist">
                        {% for error in form.password1.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        
            <div>
                <label for="password2">Confirm Password:</label>
                <input type="password" id="password2" name="password2" required>
                {% if form.password2.errors %}
                    <ul class="errorlist">
                        {% for error in form.password2.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        
            <button type="submit">Register</button>
        </form>
        
    </div>
    <br>
    <br>
    <br>
    <br>
{% endblock %}
