{% extends 'base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<br>
<br>
<style>
    body {
        background-color: black; 
        background-image: url("{% static 'images/pexels-gaspar-zaldo-6814859.jpg' %}");
        background-size: cover;
    }

    button:hover {
        background-color: #342e2e !important; 
    }
</style>
<div style="max-width: 900px;height: 430px; margin: 50px auto; padding: 20px; background-image: url('{% static 'images/ss.png' %}'); background-size: cover; background-repeat: no-repeat; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); color: #fff;">
    <h1 style="text-align: center; color: #cdffc3; margin-bottom: 20px; background-color: rgba(0, 0, 0, 0.385); padding: 10px; border-radius: 10px;">User Profile</h1>
    <div style="margin-top: 20px; text-align: center;">
        {% if profile %}
            <p><strong style="color: #fff;">Username:</strong> {{ profile.user.username }}</p>
            <p><strong style="color: #fff;">Email:</strong> {{ profile.user.email }}</p>
            <p><strong style="color: #040903;">Your Adoption Application Status:</strong> {{ profile.adoption_status }}</p>
            <!-- Display admin's reply -->
            {% if profile.admin_reply %}
                <p style="color: #000000;"> <strong style="color: #000000;">Admin's Reply:</strong> {{ profile.admin_reply }}</p>
            {% endif %}
        {% else %}
            <p>No profile found.</p>
        {% endif %}
        
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" style="background-color: #0500005a; border: none; border-radius: 5px; padding: 10px 20px; color: #fff; cursor: pointer; transition: background-color 0.3s;">Logout</button>
        </form>
        <div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
