{% extends 'base1.html' %}
{% load static %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        margin: 0;
        padding: 0;
    }

    .containerr {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    h1 {
        font-size: 24px;
        color: #333;
        margin-bottom: 20px;
        }

    .message {
        background-color: #f9f9f9;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

    .message h2 {
        font-size: 20px;
        color: #007bff;
        margin-bottom: 10px;
        }

    .message p {
        margin-bottom: 10px;
        color: #290d0d;
        }
    </style>
{% block content %}
<div class="containerr">
    <h1>User Messages</h1>
    {% if contact_messages %}
        {% for message in contact_messages %}
            <div class="message">
                <h2>{{ message.name }}</h2>
                <p>From: {{ message.email }}</p>
                <p>{{ message.message }}</p>
            </div>
        {% endfor %}
    {% else %}
        <p>No messages found.</p>
    {% endif %}
</div>
{% endblock %}
