{% block title %}
   Frequently Asked Questions
{% endblock %}
{% block content %}
    <style>
        body {
        font-family: Arial, sans-serif;
        background-color: #000;
        color: #fff;
        margin: 0;
        padding: 0;
        background-image: url('images/static/pets.jpg'); 
        background-size: cover;
        background-position: center; 
        background-repeat: repeat;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
            color: #ffd700; /* Light Yellow */
        }

        .faq-item {
            margin-bottom: 30px;
        }

        .question {
            font-weight: bold;
            color: #ffd700; /* Light Yellow */
        }

        .answer {
            margin-left: 20px;
            color: #03a9f4; /* Light Blue */
        }

        .faq-odd .answer {
            color: #4caf50; /* Light Green */
        }
        .cat-picture {
            position: absolute;
            bottom: 0px; /* Adjust distance from bottom */
            left: 0px; /* Adjust distance from left */
            max-width: 250px; /* Adjust maximum width */
            border-radius: 5px;
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Frequently Asked Questions</h1>
        <div class="faq-item">
            <p class="question">Q: What is the adoption process?</p>
            <p class="answer">A: The adoption process involves filling out an application, meeting the pet, and completing necessary paperwork.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: Can I adopt a pet if I live in an apartment?</p>
            <p class="answer">A: Yes, many pets can thrive in apartment living. Consider factors like size and energy level when choosing a pet.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: How do I introduce my new pet to my existing pets?</p>
            <p class="answer">A: Introduce pets gradually in a neutral space, supervise interactions, and provide positive reinforcement.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: Are all pets at the shelter spayed or neutered?</p>
            <p class="answer">A: Yes, all pets available for adoption are spayed or neutered to help control pet overpopulation.</p>
        </div>
        <div class="faq-item">
            <p class="question">Q: How can I help if I can't adopt?</p>
            <p class="answer">A: You can volunteer, foster, donate, or spread awareness about pet adoption to help pets in need.</p>
        </div>
    </div>
    
    </body>
{% endblock %}
