<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "search.css">
</head>
<body>
    <section class="search-bar">
        <h2>Search for Pets</h2>
        <form action="{% url 'pet_search' %}" method="GET">
            <input type="text" name="keyword" placeholder="Search by keyword">
            <select name="species">
                <option value="">Select Species</option>
                <option value="dog">Dog</option>
                <option value="cat">Cat</option>
                <!-- Add more species options if needed -->
            </select>
            <input type="submit" value="Search">
        </form>
    </section>
    
</body>
</html>

