
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        position: relative;
    }

    /* Background Image */
    .container-img {
        position: relative;
        width: 100%;
        height: 100vh;
    }

    .background-img {
        width: 100%;
        height: 98%;
        padding-left: 855px;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    /* Buttons */
    .btn {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
    }

    .btn-primary {
        background-color: #000000;
        color: #ffffff;
        transition: background-color 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    /* Adoption Events */
    .adoption-events {
        padding: 40px 20px;
        background-color: #000000;
    }

    .adoption-event-title {
        font-size: 20px;
        color: #000000;
        margin-bottom: 10px;
    }

    .adoption-event-details {
        font-size: 16px;
        color: #666;
        margin-bottom: 15px;
    }

    .adoption-event-link {
        display: inline-block;
        background-color: #000000;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .adoption-event-link:hover {
        background-color: #dde7dc;
    }

    .adoption-events-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .adoption-event {
        width: 48%;
        background-color: #dde7dc;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 15px;
        margin-bottom: 20px;
    }

    /* Text Overlay */
    .text-overlay {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 10%;
        color: #000000;
        text-align: left;
        padding: 20px;
        background-color: rgba(238, 238, 238, 0);
    }

    .text-overlay h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }

    .text-overlay p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    /* Testimonial */
    .testimonial-section {
        padding: 40px 20px;
        background-color: #000000;
        margin-top: -20px;
    }

    .testimonial-title {
        font-size: 24px;
        margin-bottom: 30px;
        color: #f3efef;
        text-align: center;
    }

    .testimonial-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .testimonial-card {
        background-color: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 20px;
        margin: 10px;
        width: 300px;
        max-width: 90%;
    }

    .testimonial-card p {
        font-size: 16px;
        color: #666;
        margin-bottom: 20px;
    }

    .testimonial-card strong {
        font-weight: bold;
    }

    .navbar {
        background-color: #020d19;
        color: #ffffff;
    }
    .custom-dropdown {
        background-color: #000000;
    }
